<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Registration" verbose="1" preserve-order="true">

    <parameter name="Suitename" value="Registration"/>

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

    <test name="Search">
        <classes>
            <class name="Browseropening"/>
        </classes>
    </test>

</suite>